

<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style>

  img {
    
    margin-top: 0px;
    
   
    margin-left: 0px;
   
}


</style>
<body >
    <img src="..\assets\image\logo3.png"/> 
  
welcome {{cookieValue}}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">SkillMapping</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#" class="glyphicon glyphicon-home">Home</a></li>
      <li><a routerLink="/register" class="glyphicon glyphicon-user">Register</a></li>
      <li><a  routerLink="/login"  class="glyphicon glyphicon-log-in" >Login</a></li>
    
     <!-- <li><a routerLink="/listall"  class="glyphicon glyphicon-list-alt" >list All</a></li>-->
      <li><a routerLink="/update"  class="glyphicon glyphicon-pencil" >Update</a></li>
      <li><a routerLink="/delete"  class="glyphicon glyphicon-remove" >Delete</a></li>
      <li><a routerLink="/logout"  class="glyphicon glyphicon-log-out" >Logout</a></li>     
    </ul>
  </div>
</nav>
  
<div class="container">
  
  
</div>



<style>
    h1{
          font-family: 'Fontdiner Swanky';font-size: 120px;
      
    }
    .input-container form,
    .input-container form div {
        display: inline;
    }
    
    .input-container button {
        display: inline;
        vertical-align: middle;
    }
    input.searc {
        width: 10em;  height: 2em;
    }
    img{
      width:25%;
      height: 25%;
    }
    </style>
    
    
    
    
   
     <router-outlet></router-outlet>
     </body>
     </html>